.slick-dots-bottom {
    margin: 0 !important;
    padding: 0 !important;
}

.ant-carousel .slick-dots-bottom {
    bottom: 63px !important;

    @include max(767px) {
        bottom: 12px !important;
    }
}

.slick-dots li button:before {
    color: transparent !important;
}
 
#carousel{
    @include max($desktop-width) {
        margin-top: 120px !important;
        margin-bottom: 100px !important;
    };
    @include addRes (481px,$tablet-width){
        @media screen and (min-width:481px ) and (max-width:$tablet-width ){
            margin-top: 0px !important;
            margin-bottom: 0px !important;
        }
      }   ;
    @include max($mobile-width) {
        margin-top: 0px !important;
        margin-bottom: 0px !important;
    };


}
